APP_DEBUG=False
APP_ORIGINS=*

POSTGRES_SCHEME=postgresql+asyncpg
POSTGRES_USER=postgres
POSTGRES_PASSWORD=adm
POSTGRES_HOST=database // localhost // host.docker.internal
POSTGRES_PORT=5432
POSTGRES_DB=tst
POSTGRES_EXTERNAL_PORT=5432

RABBITMQ_DEFAULT_USER=rabbit
RABBITMQ_DEFAULT_PASS=rabbit
RABBITMQ_HOST=amqp // localhost // host.docker.internal
RABBITMQ_PORT=5672
RABBIT_EXTERNAL_PORT=5672
RABBIT_EXTERNAL_WEB_PORT=15672
RABBITMQ_DEFAULT_VHOST=
RABBITMQ_RESULT_QUEUE=result